@keyframes fadeInOut {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.shop {
  animation: fadeInOut 0.4s ease-out;
  will-change: contents;
  font-family: "Space Grotesk", sans-serif;
  display: grid;
  grid-template-rows: auto 1fr;
}

.shop h2 {
  padding: var(--space-1);
  color: var(--color-1);
  border-bottom: 2px solid var(--color-1);
}

.productList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: var(--space-2);
  padding: var(--space-2);
}

.loadingSpinner {
  width: 1.5rem;
  height: 1.5rem;
  fill: var(--color-1);
  animation: loadingSpinner 1s linear infinite;
}

@keyframes loadingSpinner {
  0% {
    transform: scale(1) rotate(0deg);
  }
  50% {
    transform: scale(2) rotate(180deg);
  }
  100% {
    transform: scale(1) rotate(360deg);
  }
}
