@keyframes fadeInOut {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.cart {
  animation: fadeInOut 0.4s ease-out;
  font-family: "Space Grotesk", sans-serif;
  display: grid;
  grid-template-rows: auto 1fr;
}

.cart h2 {
  padding: var(--space-1);
  color: var(--color-1);
  border-bottom: 2px solid var(--color-1);
}

.msgWrapper {
  display: grid;
}

.cartList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: var(--space-2);
  padding: var(--space-2);
  align-self: self-start;
}
