.main {
  display: grid;
  grid-template-columns: 300px 1fr;
  transition: grid-template-columns 0.3s ease;
  z-index: -1;
}

.main.hide {
  grid-template-columns: 3rem 1fr;
}

.message,
.loading {
  justify-self: center;
  align-self: center;
  color: var(--color-1);
  font-size: var(--size-1);
  font-weight: 600;
}
